{
  "manifest_version": "0.4",
  "name": "@nimblebraininc/{{name}}",
  "version": "0.1.0",
  "description": "{{description}}",
  "author": {
    "name": "NimbleBrain Inc"
  },
  "user_config": {
    "api_key": {
      "type": "string",
      "title": "{{service_name}} API Key",
      "description": "{{api_key_description}}",
      "sensitive": true,
      "required": true
    }
  },
  "server": {
    "type": "python",
    "entry_point": "mcp_{{name_underscore}}.server",
    "mcp_config": {
      "command": "python",
      "args": ["-m", "mcp_{{name_underscore}}.server"],
      "env": {
        "{{env_var_name}}": "${user_config.api_key}"
      }
    }
  }
}
